
body{
	background-color: #B60BF9;
}
#nav-header{
	background-color: #FACA0B;
}
.container{
	padding-left: : 0px;
	margin: 0px;
	max-width: 100%
}
/*#logo-img{
	background: url(C:\Users\91834\module2-sol\site\image\dessert.jpg);
	height: 120px;
	width: 120px;
}*/
#nav-brand{
	font-size:3em;
	color: black;
	text-shadow: 3px 3px white;
	font-family: 'Righteous', cursive;
	text-decoration: none;
}


h1 {
	font-size: 28px;
	text-align: center;
	margin: 30px;
	font-size: 300%
}

#section {
	background-color: #E6DCB3;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	position: relative;
	overflow: auto;
	padding: 10px;
	margin-bottom: 20px;
}	
#chicken,#beef,#sushi{
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 20px 
}


		

